.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: 560px;
    gap: 10px;
}

.table-container {
    grid-column: 1;
    position: relative;
}

.chart-container {
    grid-column: 2;
    position: relative;
    padding: 15px;
}

.table {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
}

.row {
    display: grid;
    grid-template-columns: minmax(180px, 225px) minmax(80px, 100px) minmax(65px, 175px);
}

.rhover:hover {
    border-radius: 10px;
    box-shadow: 5px 5px 5px #ff7043;
}

.rhdr {
    font-weight: bold;
}

.rdata {
    padding: 4px 4px;
}

