.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

#table_container {
    grid-column: 1;
    position: relative;
    width: 50vw;
}

#chart_container {
    grid-column: 2;
    position: relative;
    width: 50vw;
}

.table {
    display: grid;
    grid-template-columns: 1fr;
    width: 500px;
}


.row {
    display: grid;
    grid-template-columns: minmax(175px, 225px) minmax(50px, 100px) minmax(100px, 175px);
}


.rdata {
    padding: 4px 4px;
}

