0 16 * * 1-5 /usr/local/bin/python /app/backend/scraper.py > /proc/1/fd/1 2>/proc/1/fd/2
#*/1 * * * 1-5 /usr/local/bin/python /app/backend/scraper.py > /proc/1/fd/1 2>/proc/1/fd/2
# new line required
