<p id="chart-title">{{ ticker }}</p>
<canvas id="myChart"></canvas>

<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{ labels }}, 
            datasets: [{
                data: {{ y2 }},
                label: "score",
                borderColor: "#ff7043",
                backgroundColor: "#ff7043",
                fill: false,
            },
            ]
        },
        options: {
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    display: false
                },
                title: {
                    display: true,
                    text:  "{{ ticker }}",
                    position: 'top'
                }
            }
        }
    });
</script>

