<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charstet="utf-8">	
		<meta name="viewport" content="initial-scale=1, width=device-width">
		<link rel="stylesheet" href="static/css/grid.css">
		<script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
		<!-- <script src="static/js/history.js" type="text/javascript"></script> -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script> 
		<title>Dual Momentum</title>
	</head>
	<body>
		<div>
			<select hx-get="/" name="limit" hx-target=".table" hx-swap="outerHTML">
				<option selected value="10">10</option>
				<option value="15">15</option>
				<option value="20">20</option>
			</select>
		</div>
		<div class='wrapper'>
			
			<div class="table-container">
				{% block table %}
				<div class="table">
					<div class="row tblhdr">
						<div class="rhdr">TS</div>
						<div class="rhdr">Symbol</div>
						<div class="rhdr">Score</div>
					</div>
					{% for row in data %}
					<div class="row rhover" hx-get="/chart_data" hx-target=".chart-container" hx-vals='{"ticker": "{{ row.ticker }}"}'>
						<div class="rdata">{{ ts_to_str(row.ts) }}</div>
						<div class="rdata">{{ row.ticker }}</div>
						<div class="rdata">{{ round(row.sroc)}}</div>
					</div>
					{% endfor %}
				</div>
				{% endblock %}
			</div>
			{% if data|length > 0 %}
<div class="chart-container" hx-get="/chart_data" hx-trigger="load" hx-vals='{"ticker": "{{ data[0].ticker }}"}'>
			{% else -%}
			<div class="chart-container"></div>
			{% endif %}
			</div>
		</div>

		<!-- <script src="static/js/history.js" type="text/javascript"></script> -->
	</body>
</html>
