<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charstet="utf-8">	
		<meta name="viewport" content="initial-scale=1, width=device-width">
		<script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>

		<title>Dual Momentum</title>
	</head>
	<body>
		<div>
			<!-- <form action="/" method="get"> -->
				<select hx-get="/" name="limit" hx-target="table" hx-swap="outerHTML">
					<option value="10">10</option>
					<option value="15">15</option>
					<option value="20">20</option>
				</select>
		</div>
		<div>
			{% block table %}
			<table>
				<caption>Top N Stocks</caption>
			<thead>
					<tr>
						<th scope="col">TS</th>
						<th scope="col">Symbol</th>
						<th scope="col">Score</th>
					</tr>
				</thead>
			<tbody>
					{% for row in data %}
					<tr>
						<td>{{ row['ts'] }}</td>
						<td>{{ row['ticker'] }}</td>
						<td>{{ row['sroc'] }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% endblock %}
		</div>
		<div>
			<!-- chart.js here -->

		</div>
	</body>
</html>
